@model string

@{
    var fieldName = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var metadata = ViewData.ModelMetadata;

    var labelClasses = "form-label";
    if (metadata.IsRequired)
    {
        labelClasses += " required";
    }

    var id = TagBuilder.CreateSanitizedId(fieldName, "_");

    var inputAttributes = new Dictionary<string, object>
    {
        { "data-testid", fieldName },
        { "class", "form-control" },
        { "type", "email" },
        { "id", id }
    };
    if (ViewData.ContainsKey("autofocus"))
    {
        inputAttributes["autofocus"] = "autofocus";
    }

    if (metadata.IsRequired)
    {
        inputAttributes["required"] = "required"; // HTML5 validation
        inputAttributes["aria-required"] = "true"; // Screen reader support
    }
}

<div class="mb-3">
    <label for="@id" class="@labelClasses" data-testid="@fieldName-Label">
        @metadata.GetDisplayName()
    </label>

    <div class="input-group mb-2">
    <span class="input-group-text">
        @@
    </span>
        @Html.TextBox("", Model, inputAttributes)
    </div>
    @Html.ValidationMessage("", new { @class = "text-danger" })
</div>